---
import Layout from '$lib/layouts/Layout.astro';

export const prerender = true;
---

<Layout title='Se ha confirmado la reserva de cupo'>
    <div class="h-full w-full flex justify-center items-center flex-col gap-3" >
        <h2 class="text-3xl" >Datos actualizados</h2>
        <p>Por favor llene los datos faltantes del <strong class="text-red-600" >PDF</strong> y firmar</p>
    </div>
</Layout>