---
import Layout from '$lib/layouts/Layout.astro';
export const prerender = true;
---

<Layout title='404 | No se encontr칩 la p치gina'>
    <div class="h-full w-full flex justify-center items-center flex-col" >
        <h1 class="text-3xl" >404</h1>
        <h2>No se encontr칩 la p치gina</h2>
    </div>
</Layout>